# -----------------------------------------------------------------------
#
# ISC License
#
# Copyright (C) 2014 - 2022  Tommy Thorn <tommy-github2@thorn.ws>
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
# -----------------------------------------------------------------------

# OrangeCrab
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clock" SITE "A9";
IOBUF PORT "clock" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 100 MHz;

LOCATE COMP "tx" SITE "N17";
IOBUF PORT "tx" IO_TYPE=LVCMOS25;

LOCATE COMP "td[0]" SITE "V17";
IOBUF PORT "td[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "td[1]" SITE "T17";
IOBUF PORT "td[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "td[2]" SITE "J3";
IOBUF PORT "td[2]" IO_TYPE=LVCMOS25;

LOCATE COMP "td[3]" SITE "C13";
IOBUF PORT "td[3]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[4]" SITE "M18";
IOBUF PORT "td[4]" IO_TYPE=LVCMOS25;

LOCATE COMP "td[5]" SITE "C17";
IOBUF PORT  "td[5]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[6]" SITE "D15";
IOBUF PORT  "td[6]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[7]" SITE "B17";
IOBUF PORT  "td[7]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[8]" SITE "C16";
IOBUF PORT  "td[8]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[9]" SITE "A15";
IOBUF PORT  "td[9]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[10]" SITE "B13";
IOBUF PORT  "td[10]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[11]" SITE "A17";
IOBUF PORT  "td[11]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[12]" SITE "A13";
IOBUF PORT  "td[12]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[13]" SITE "F17";
IOBUF PORT  "td[13]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[14]" SITE "F16";
IOBUF PORT  "td[14]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[15]" SITE "G15";
IOBUF PORT  "td[15]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[16]" SITE "F15";
IOBUF PORT  "td[16]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[17]" SITE "J16";
IOBUF PORT  "td[17]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[18]" SITE "C18";
IOBUF PORT  "td[18]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[19]" SITE "H16";
IOBUF PORT  "td[19]" IO_TYPE=SSTL135_I;

LOCATE COMP "td[20]" SITE "F18";
IOBUF PORT  "td[20]" IO_TYPE=SSTL135_I;
